<%= form_with(model: [:admin, not_published_opinion], local: true) do |form| %>
  <% if not_published_opinion.errors.any? %><div id="error_explanation">
    <h2><%= pluralize(not_published_opinion.errors.count, "error") %> prohibited this not_published_opinion from being saved:</h2>
    <ul><% not_published_opinion.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %></ul>
  </div><% end %>
  <!-- this form can see guest -->
  <table width="100%"><tbody><tr>
    <td>
      <div class="field"><%= form.text_field :author, id: :not_published_opinion_author, placeholder: "Имя"%></div>
      <div class="field"><%= form.email_field :email, id: :not_published_opinion_email, placeholder: "E-mail" %></div>
      <div class="field"><%= form.telephone_field :phone, id: :not_published_opinion_phone, placeholder: "Телефон"%></div>
      <div class="field"><%= form.date_field :visit, id: :not_published_opinion_visit, placeholder: "Дата посещения WhitePark", class: "spec-calendar" %></div>
    </td>
    <td>
      <%= form.submit "Отправить", class: "nice-button" %>
      <div class="field"><%= form.text_area :words, id: :not_published_opinion_words, placeholder: "Ваше мнение о нас" %></div>
    </td>
  </tr></tbody></table>
<% end %>
