<p id="notice"><%= notice %></p>
<p><strong>Author:</strong><%= @not_published_opinion.author    %></p>
<p><strong>Words:</strong><%=  @not_published_opinion.words    %></p>
<p><strong>Visit:</strong><%=  @not_published_opinion.visit   %></p>
<p><strong>Email:</strong><%=  @not_published_opinion.email  %></p>
<p><strong>Phone:</strong><%=  @not_published_opinion.phone %></p>
<%= link_to 'Edit', action: "edit" %>
