<thead><tr role="row">
    <th>Published</th>
    <th>Author</th>
    <th>Words</th>
    <th>Visit</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Last update</th>
    <th>Actions</th>
</tr></thead>
<tbody><% @opinions.each do |one_opinion| %><tr class="gradeA even" role="row">
    <td><%= one_opinion.published %></td>
    <td><%= one_opinion.author   %></td>
    <td><%= one_opinion.words   %></td>
    <td><%= one_opinion.visit.strftime("%d %B %Y") %></td>
    <td><%= one_opinion.email %></td>
    <td><%= one_opinion.phone%></td>
    <td><%= one_opinion.updated_at.strftime("%T %d %B %Y") %></td>
    <td>
        <%= link_to 'Show',      admin_opinion_path(one_opinion) %>,
        <%= link_to "Public", action: "become_public", id: one_opinion.id %>
        <%= link_to 'Edit', edit_admin_opinion_path(one_opinion) %>,
        <%= link_to 'Destroy',   admin_opinion_path(one_opinion), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>    
</tr><% end %></tbody>
<tfoot><tr>
    <th>Published</th>
    <th>Author</th>
    <th>Words</th>
    <th>Visit</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Last update</th>
    <th>Actions</th>
</tr></tfoot>
