<p id="notice"><%= notice %></p>
<p><strong>Author:</strong><%= @opinion.author %></p>
<p><strong>Words: </strong><%= @opinion.words  %></p>
<p><strong>Visit: </strong><%= @opinion.visit  %></p>
<%= link_to 'Edit', action: "edit" %> | 
<%= link_to 'Back', action: "index" %>
