<%= form_with(model: [:admin, photo_in_article], local: true) do |form| %>
  <% if photo_in_article.errors.any? %><div id="error_explanation">
    <h2><%= pluralize(photo_in_article.errors.count, "error") %> prohibited this photo_in_article from being saved:</h2>
    <ul><% photo_in_article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %></ul>
  </div><% end %>
  <p>Photo</p>
  <div class="field"><% @photo_list.each do |one_photo| %>
<<<<<<< HEAD
    <%= image_tag(one_photo.avatar.url, alt: one_photo.description , style: "width: 100px;") %>
    <%= form.radio_button(:photo, one_photo.id) %>
    <%= form.label(:photo, one_photo.avatar.url) %><br>
=======
      <% way = Photo.try_get_way_to_img_tag_by_photo(one_photo) %>    
      <% if way.nil? %><%= $INE.html_safe %>
      <% else %><%= image_tag(way, style: "width: 100px;") %>
      <% end  %>
      <%= form.radio_button(:photo, one_photo.id) %>
      <%= form.label(:photo, way) %><br>
>>>>>>> work_with_paper_clip
  <% end %></div>
  <div class="field"><%= form.label :article %><%= form.collection_select(:photo, Article.all, :id, :title)%></div>
  <div class="actions"><%= form.submit %></div>
<% end %>
