<%= form_with(model: [:admin, photo_in_article], local: true) do |form| %>
  <% if photo_in_article.errors.any? %><div id="error_explanation">
    <h2><%= pluralize(photo_in_article.errors.count, "error") %> prohibited this photo_in_article from being saved:</h2>
    <ul><% photo_in_article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %></ul>
  </div><% end %>
  <p>Photo</p>
  <div class="field"><% @photo_list.each do |one_photo| %>
      <%= image_tag Photo.try_get_way_to_img_tag_by_photo(one_photo), width: "100px" %>
      <%= form.radio_button(:photo, one_photo.id)  %>
      <%= form.label(:photo, way) %><br>
  <% end %></div>
  <div class="field"><%= form.label :article %><%= form.collection_select(:photo, Article.all, :id, :title)%></div>
  <div class="actions"><%= form.submit %></div>
<% end %>
