<p id="notice"><%= notice %></p>
<%= link_to 'Edit', action: "edit" %> | 
<%= link_to 'Back', action: "index" %>
<p><strong>Photo:</strong><%= @photo_in_article.photo %></p>
<p><strong>Article:</strong><%= @photo_in_article.article %></p>
