<p id="notice"><%= notice %></p>
<%= link_to 'Edit', action: "edit"  %> | 
<%= link_to 'Back', action: "index" %>
<p><strong>Title:</strong><%= @slayder.title %></p>
<p><strong>Many fotos:</strong></p>
<% @old_list.each do |one_photo_id| %>
	,<%= image_tag Photo.try_get_way_to_img_tag_by_id(one_photo_id), width: "100px" %>
<% end %>.
