<p id="notice"><%= notice %></p>
<h1>Events</h1>
<span>События, о которых стоит знать потенциальным клиентам.</span>
<% if @events.first.nil? %>
  <i>эта таблица пустая</i>
<% else %><table class="sv_table">
  <thead><tr>
    <th>Icon</th>
    <th>Category</th>
    <th>Title</th>
    <th>Description</th>
    <th colspan="4"></th>
  </tr></thead>
  <tbody><% @events.each do |one_event| %><tr>
    <td><%= image_tag Photo.try_get_way_to_img_tag_by_id(one_event.icon), width: "100px" %></td>
    <td>
      <% category = CategoryEvent.find_by(id: one_event.category) %>
      <% if category.nil? %><i>category not exist</i>
      <% else %><%= category.ru_title %>
      <% end  %>
    </td>
    <td><%= one_event.ru_title %></td>
    <td><%= one_event.description.html_safe %></td>
    <td><%= link_to 'Show', admin_event_path(one_event) %></td>
    <td><%= link_to 'Edit', edit_admin_event_path(one_event) %></td>
    <td><%= link_to 'Destroy', admin_event_path(one_event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><a href = "/events/<%= one_event.eng_title %>">Beauty</a></td>
  </tr><% end %></tbody>
</table><% end %>
<br><%= link_to 'New Event', action: "new" %>
