<span>События, о которых стоит знать потенциальным клиентам.</span>
<thead><tr role="row">
  <th>Icon</th>
  <th>Category</th>
  <th>Title</th>
  <th>Description</th>
  <th>Last update</th>
  <th>Actions</th>
</tr></thead>
<tbody><% @events.each do |one_event| %><tr class="gradeA even" role="row">
  <td><%= image_tag Photo.try_get_way_to_img_tag_by_id(one_event.icon), width: "100px" %></td>
  <td>
    <% category = CategoryEvent.find_by(id: one_event.category) %>
    <%= "<i>category not exist</i>".html_safe if category.nil? %>
    <%= category.ru_title unless category.nil? %>
  </td>
  <td><%= one_event.ru_title %></td>
  <td><%= one_event.description.html_safe %></td>
  <td><%= one_event.updated_at.strftime("%T %d %B %Y") %></td>
  <td>
    <a href = "/events/<%= one_event.eng_title %>">Beauty</a>
    <%= link_to 'Show', admin_event_path(one_event) %>
    <%= link_to 'Edit', edit_admin_event_path(one_event) %>
    <%= link_to 'Destroy', admin_event_path(one_event), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr><% end %></tbody>
<tfoot><tr>
  <th>Icon</th>
  <th>Category</th>
  <th>Title</th>
  <th>Description</th>
  <th>Last update</th>
  <th>Actions</th>
</tr></tfoot>
