<p id="notice"><%= notice %></p>
<p><strong>Category:</strong><%= @event.category %></p>
<p><strong>Title:</strong><%=    @event.ru_title %></p>
<p><strong>Description:</strong><%= @event.description.html_safe %></p>
<p><strong>Icon:</strong>
	<% temp_icon = Photo.find_by(id: @event.icon)%>
	<% if temp_icon.nil? %><%= $INE.html_safe %>
	<% else %><%= temp_icon.avatar_file_name  %>
	<% end  %>
</p>
<p><strong>Many fotos:</strong></p>
<% @old_list.each do |one_foto_id| %>
	<% temp_icon = Photo.find_by(id: one_foto_id) %>
	<% if temp_icon.nil? %><%= $INE.html_safe %>
	<% else %>, <%= image_tag(temp_icon.avatar.url, style: "height: 100px;") %>
	<% end  %>
<% end %>.
<br>
<%= link_to 'Edit', action: "edit"  %> |
<%= link_to 'Back', action: "index" %> |
<a href="/<%= @event.eng_title %>">Beauty</a>
