<div class="big-block about-us-block"><div class="block">
	<h2>о нас</h2>
	<hr class="spec-hr">
	<p>WhitePark – это специализированная площадка в Москве, где можно без лишней огласки или наоборот, с приглашением ведущих медиа, в зависимости от ваших интересов, провести мероприятие. Высокая заинтересованность в удовлетворении потребностей наших заказчиков становится главным мотивом работы, к которой мы привлекаем наиболее успешных, известных и достойных специалистов. Идеальное сопровождение банкетов и фуршетов, оригинальные идеи для частных вечеринок и тематических презентаций в WhitePark – гарантия успеха и положительных эмоций на вашем частном мероприятии.</p>
	<div class="about-us-social">
		<p>Мы в соцсетях:</p>
		<a href=""> <%= image_tag "facebook.png" , alt:"facebook" %></a>
		<a href="">	<%= image_tag "insta.png" , alt:"instagram" %></a>
		<a href="">	<%= image_tag "twitter.png" , alt:"twitter" %></a>
		<a href="">	<%= image_tag "vk.png" , alt:"vk.com" %></a>
	</div>
	<div class="about-us-image-set">
		<%= image_tag "about-us-image-1.png" %>
		<%= image_tag "about-us-image-2.png" %>
		<%= image_tag "about-us-image-3.png" %>
	</div>
</div></div>