<div class="cuisine-block big-block"><div class="block">
	<h2>кухня</h2>
	<hr class = "spec-hr"/>
	<p>Гордостью WhitePark при проведении частных мероприятий является высококлассный кейтеринг. Здесь гениальные повара под руководством своего уникального шефа создают настоящие шедевры кулинарного искусства. В зависимости от темы и общей направленности вечеринки, вы сможете заказать классический фуршет с закусками из дорогих видов мяса и рыбы, банкет с кухней в стиле фьюжн или легкий бранч для всей семьи. Выбор всегда остается за клиентом, а ресторан WhitePark воплощает желания в действительность.</p>
</div></div>
<!-- START Most Warning Part -->
<% if @visible_part %><div class="dishes-block">
	<div class="dishes-block-points block"></div>
	<div class="owl-carousel owl-kit">
		<% @kitchen_photo_list.each do |one_photo_in_sl| %><div class="big-block">
			<div class="background">
				<% photo = Photo.find_by(id: one_photo_in_sl.photo) %>
				<% if photo.nil? %><%= $INE.html_safe %>
				<% else %><%= image_tag(photo.image.url) %>
				<% end  %>				
			</div>
			<div class="block"><div class="spec-block spec-block-right">
				<h2><%= one_photo_in_sl.description %></h2>
				<hr class = "spec-hr"/>
				<p>Гордостью WhitePark при проведении частных мероприятий является высококлассный кейтеринг. Здесь гениальные повара под руководством своего уникального шефа создают настоящие шедевры кулинарного искусства.</p>
			</div></div>
		</div><% end %>
	</div>
	<div class="arrows arrow-left" ><% image_tag "arrow-left.png" %></div>
	<div class="arrows arrow-right"><% image_tag "arrow-left.png" %></div>
</div><% end %>
<!-- END Most Warning Part -->
<div class="chef-block big-block"><div class="block">
	<div class="chef-image"><%= image_tag("chef-image.png") %></div>
	<div class="chef-content">
		<h2>Трифонов Сергей Викторович</h2>
		<hr class="spec-hr">
		<h3>Шеф-повар, Бренд-шеф</h3>
		<p><b>Стажировки:</b></p>
		<p>Дели (Индия)-1994 год-1 месяц (изучение блюд индийской кухни), Арнштад(Германия)-2006год-1 месяц (презентация блюд Русской кухни, знакомство с  Немецкой кухней (Тюрингия)</p>
		<p><b>Профессиональные навыки:</b></p>
		<p>Член Национальной Гильдии Шеф-поваров, консультант компании "Сухаревка" (составление меню и обучение персонала, запуск кофейня "Рио" г. Уфа). Шеф-консультант консалтинговой компании "Бюро ресторанных технологий." РРК "Кеды" г. Ульяновск, Член команды Шеф-поваров "Пировный", (Тим-билдинги, банкеты, фуршеты) Провел более 100 мастер-классов для компании "МЕТРО" по теме мясо, рыба, морепродукты/Индийская кухня, ТЕХ_МЕХ.</p>
		<%= link_to "скачать банкетное меню", action: "download_menu", class: "nice-button" %>
	</div>
</div></div>