<% if @visible_part %><div class="articles-block big-block"><div class="block">
	<h2>Статьи</h2>
	<hr class = "spec-hr">
	<div class="articles"><% @article_list.each do |one_article| %><div class="article">
		<div class="article-img"><%= image_tag Photo.try_get_way_to_img_tag_by_id(one_article.icon) %></div>
		<div class = "article-content">
			<h2><%= one_article.ru_title %></h2>
			<p class = "article-date"><%= one_article.published %></p>
			<p><%= one_article.description.html_safe %></p>
			<a class="nice-button" href="/articles/<%= one_article.eng_title %>">подробнее</a>
		</div>
	</div><% end %></div>
	<u><%= will_paginate @article_list, :class => "special-links", :link_separator => "| |", :previous_label =>"предыдущая", :next_label =>"следующая" %></u>
</div></div><% end %>
