<% if @visible_part %><div class="big-block calendar-block">
	<div class="background owl-carousel">
<<<<<<< HEAD
		<% @main_photo_list.to_a.each do |one_phot_in_sl| %>
			<% one_photo = Photo.find_by(id: one_phot_in_sl.photo) %>
			<% if one_photo.nil? ||	!one_photo.avatar.exists? %><%= $INE.html_safe %>
			<% else %><%= image_tag( one_photo.avatar.url ) %>
=======
		<% @main_photo_list.to_a.each do |one_photo_in_sl| %>
			<% way = Photo.try_get_way_to_img_tag_by_id(one_photo_in_sl.photo) %>
			<% if way.nil? %><%= $INE.html_safe %>
			<% else %><%= image_tag(way) %>
>>>>>>> work_with_paper_clip
			<% end  %>
		<% end %>
	</div>
	<div class="arrows arrow-left" ><%= image_tag "wpimg/arrow-white.png", alt:"left"  %></div>
	<div class="arrows arrow-right"><%= image_tag "wpimg/arrow-white.png", alt:"rigth" %></div>
	<div class="block"><div class="spec-block">
		<h2>Проверьте<br>свободна ли<br>ваша дата</h2>
		<div class="spec-calendar"></div>
		<a class="nice-button call-pop" href="javascript:void(0);">проверить</a>
	</div></div>
</div><% end %>
<%= image_tag( Photo.first.avatar.url ) %>
<div class="photoreports-block  big-block"><div class="block">
	<h2>Направления</h2>
	<hr class="spec-hr">
	<div class="photoreports"><% @category_list.each do |one_category|%><a href="/category_events/<%= one_category.eng_title %>" class="album">
		<div class = "album-bg">
<<<<<<< HEAD
			<% photo = Photo.find_by(id: one_category.icon) %>
			<% if photo.nil? %><%= $INE %>
			<% else %><%= image_tag(photo.avatar.url) %>
=======
			<% way = Photo.try_get_way_to_img_tag_by_id(one_category.icon) %>
			<% if way.nil? %><%= $INE.html_safe %>
			<% else %><%= image_tag(way) %>
>>>>>>> work_with_paper_clip
			<% end  %>
		</div>
		<div class="album-title"><p><%= one_category.ru_title %></p><h4>подробнее</h4></div>
	</a><% end %></div>
</div></div>
