<% if @visible_part %><div class="big-block calendar-block">
	<div class="background owl-carousel">
		<% @main_photo_list.to_a.each do |one_photo_in_sl| %>
			<%= image_tag Photo.try_get_way_to_img_tag_by_id(one_photo_in_sl.photo) %>
		<% end %>
	</div>
	<div class="arrows arrow-left" ><%= image_tag "wpimg/arrow-white.png", alt:"left"  %></div>
	<div class="arrows arrow-right"><%= image_tag "wpimg/arrow-white.png", alt:"rigth" %></div>
	<div class="block"><div class="spec-block">
		<h2>Проверьте<br>свободна ли<br>ваша дата</h2>
		<div class="spec-calendar"></div>
		<a class="nice-button call-pop" href="javascript:void(0);">проверить</a>
	</div></div>
</div><% end %>
<div class="photoreports-block  big-block"><div class="block">
	<h2>Направления</h2>
	<hr class="spec-hr">
	<div class="photoreports"><% @category_list.each do |one_category|%>
		<a href="/category_events/<%= one_category.eng_title %>" class="album">
			<div class="album-bg"><%=image_tag Photo.try_get_way_to_img_tag_by_id(one_category.icon)%></div>
			<div class="album-title"><p><%= one_category.ru_title %></p><h4>подробнее</h4></div>
		</a>
	<% end %></div>
</div></div>
