<div class="big-block ease-slider-block">
	<div class="background owl-carousel"><%= image_tag "wpimg/about-calendar-bg.jpg", style: 'width: 500px;' %></div>
	<div class="arrows arrow-left" ><%= image_tag "wpimg/arrow-black.png", alt:"<<" %></div>
	<div class="arrows arrow-right"><%= image_tag "wpimg/arrow-black.png", alt:">>" %></div>
	<div class="block"><div class="spec-block">
		<h2>АРЕНДА<br/>ПЛОЩАДКИ</h2>
		<p>White Park New Riga Bay — это живописное место для Вашего отдыха! Широкое пространство площадки позволяет проводить мероприятия различного формата: частные торжества, свадьбы, дни рождения, тимбилдинги.</p>
		<a class="nice-button call-pop" href="javascript:void(0);">проверить</a>
	</div></div>
</div>
<div class="big-block karta-block"><div class="block">
	<h2>карта площадки</h2>
	<hr  class = "spec-hr">
	<div class = "kartas"><% @tent_list.each do |one_tent| %>
		<div class = "karta">
			<div class = "karta-body">
				<div class = "karta-content">
					<p><span class="karta-name"><%= one_tent.namesize %></span></p>
					<p><%= one_tent.description %></p>
				</div>
				<div class = "karta-image"><%= image_tag Photo.try_get_way_to_img_tag_by_id(one_tent.icon) %></div>
				<div class="karta-options">
					<div class="karta-option">
						<div class="karta-option-image"><%= image_tag "wpimg/karta-option-image-1.png" , alt:" " %></div>
						<div class="karta-option-about">
							<p><b>от <%= one_tent.min_size %> м<sup>2</sup> до <%= one_tent.max_size %>m<sup>2</sup></b></p>
							<p>Welcome зона</p>
						</div>
					</div>
					<div class="karta-option">
						<div class="karta-option-image"><%= image_tag "wpimg/karta-option-image-2.png", alt:" " %></div>
						<div class="karta-option-about">
							<p><b>до <%= one_tent.hpb %> персон</b></p>
							<p>Банкет</p>
						</div>
					</div>
					<div class="karta-option">
						<div class="karta-option-image"><%= image_tag "wpimg/karta-option-image-3.png", alt:" " %></div>
						<div class="karta-option-about">
							<p><b>до <%= one_tent.hpf %> персон</b></p>
							<p>Фуршет</p>
						</div>
					</div>
				</div>
			</div>
			<div class="karta-footer"><a class="nice-button call-pop-karta" href="javascript:void(0);">Заказать</a></div>
		</div>
	<% end %></div>
</div></div>