<% if @visible_part %><div class="articles-block big-block comment-block"><div class="block">
	<h2>Отзывы</h2>
	<hr class = "spec-hr"/>
	<div class="articles"><% @opinion_list.each do |one_opinion| %><div class="article">
		<div class="article-img"><%= image_tag("wpimg/comment-default.png" , alt:":-]")%></div>
		<div class="article-content">
			<h2><%= one_opinion.author %></h2>
			<p class="article-date"><%= one_opinion.visit %></p>
			<p><%= one_opinion.words %></p>
		</div>
	</div><% end %></div>
	<u><%= will_paginate @opinion_list, :class => "special-links", :link_separator => "| |", :previous_label =>"предыдущая", :next_label =>"следующая"	%></u>
</div></div><% end %>
<div class="comment-form-block big-block"><div class="block"><div class="spec-block">
	<%= render template: "admin/not_published_opinions/new" %>
	<% if notice =='Not published opinion was successfully created.' %>
		<p id="notice">Ваш отзыв отправлен модератору.</p>
	<% end %>
</div></div></div>