<span>Статии, о которых стоит знать потенциальным клиентам.</span>
<thead><tr role="row">
  <th>Icon</th>
  <th>Title</th>
  <th>Description</th>
  <th>Published</th>
  <th>Last update</th>
  <th>Actions</th>
</tr></thead>
<tbody><% @articles.each do |one_article| %><tr class="gradeA even" role="row">
  <td><%= image_tag Photo.try_get_way_to_img_tag_by_id(one_article.icon), width: "100px" %></td>
  <td><%= one_article.ru_title %></td>
  <td><%= one_article.description.html_safe %></td>
  <td><%= one_article.published %></td>
  <td><%= one_article.updated_at.strftime("%T %d %B %Y") %></td>
  <td>
    <a href="/articles/<%= one_article.eng_title %>">Beauty</a>
    <%= link_to 'Show', admin_article_path(one_article) %>
    <%= link_to 'Edit', edit_admin_article_path(one_article) %>
    <%= link_to 'Destroy', admin_article_path(one_article), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr><% end %></tbody>
<tfoot><tr>
  <th>Icon</th>
  <th>Title</th>
  <th>Description</th>
  <th>Published</th>
  <th>Last update</th>
  <th>Actions</th>
</tr></tfoot>
