<p id="notice"><%= notice %></p>
<p><strong>Title:</strong><%= @article.title %></p>
<p><strong>Description:</strong><%= @article.description.html_safe %></p>
<p><strong>Published:</strong><%= @article.published %></p>
<p><strong>Icon:</strong>
	<% temp_icon = Photo.find_by(id: @article.icon) %>
	<% if temp_icon.nil? %><%= $INE.html_safe %>
	<% else %><%= temp_icon.avatar_file_name %>
	<% end %>
</p>
<p><strong>Many fotos:</strong></p>
<% @old_list.each do |one_foto_id| %>
	<% temp_icon = Photo.find_by(id: one_foto_id) %>
    <% if temp_icon.nil? %><%= $INE.html_safe %>
    <% else %>,<%= image_tag( temp_icon.avatar.url , style: "width: 100px;", alt: temp_icon.description ) %>
    <% end %>
<% end %>.
<br>
<%= link_to 'Edit', action: "edit"  %> | 
<%= link_to 'Back', action: "index" %> | 
<a href="/articles/<%= @article.id %><%= $WORD_TO_SEE %>">Beauty</a>
