<p id="notice"><%= notice %></p>
<%= link_to 'Edit', action: "edit"  %> | 
<%= link_to 'Back', action: "index" %> | 
<a href="/articles/<%= @article.eng_title %>">Beauty</a>
<p><strong>Title:</strong><%= @article.ru_title %></p>
<% unless @article.description.nil? %>
	<p><strong>Description:</strong><%= @article.description.html_safe %></p>
<% end %>
<p><strong>Published:</strong><%= @article.published %></p>
<p><strong>Icon:</strong>
	<% variant_of_img = Photo.try_get_way_to_img_tag_by_id(@article.icon) %>
	<% variant_of_img = "lost.jpg" if variant_of_img.nil? %>
	<p><%= image_tag variant_of_img, width: "100%" %></p>
</p>
<p><strong>Many fotos:</strong></p>
<% @old_list.each do |one_foto_id| %>
	<% variant_of_img = Photo.try_get_way_to_img_tag_by_id(one_foto_id) %>
	<% variant_of_img = "lost.jpg" if variant_of_img.nil? %>
	<%= image_tag variant_of_img, height: "100px" %>
<% end %>.
