<thead><tr role="row">
    <th width="100px">Preview</th>
    <th>Description</th>
    <th width="200px">Last update</th>
    <th width="150px">Actions</th>
</tr></thead>
<tbody><% @photo_list.each do |photo| %><tr class="gradeA even" role="row">
    <td><%= image_tag Photo.try_get_way_to_img_tag_by_photo(photo), width: "100px" %></td>
    <td><%= photo.description %></td>
    <td><%= photo.updated_at.strftime("%T %d %B %Y") %></td>
    <td>
        <%= link_to 'Show',      admin_photo_path(photo) %>,
        <%= link_to 'Edit', edit_admin_photo_path(photo) %>,
        <%= link_to 'Destroy',   admin_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
</tr><% end %></tbody>
<tfoot><tr>
    <th>Photo preview</th>
    <th>Description</th>
    <th>Last update</th>
    <th>Actions</th>
</tr></tfoot>
