<p id="notice"><%= notice %></p>
<%= link_to 'Edit', action: "edit" %> | 
<%= link_to 'Back', action: "index" %> 
<strong>Description:</strong><%= @photo.description %>
<br><%= image_tag Photo.try_get_way_to_img_tag_by_photo(@photo), width: "100%" %>