<p id="notice"><%= notice %></p>
<h1>Tents</h1>
<% if @tents.first.nil? %><i>эта таблица пустая</i>
<% else %><table class="sv_table">
  <thead><tr>
    <th>Icon</th>
    <th>Namesize</th>
    <th>Description</th>
    <th>Min size</th>
    <th>Max size</th>
    <th>Как много людей поместится на банкете</th>
    <th>Как много людей поместится на фуршете</th>
    <th colspan="3"></th>
  </tr></thead>
  <tbody><% @tents.each do |tent| %><tr>
    <td><%= image_tag Photo.try_get_way_to_img_tag_by_id(tent.icon), width: "100px" %></td>
    <td><%= tent.namesize   %></td>
    <td><%= tent.description%></td>
    <td><%= tent.min_size   %></td>
    <td><%= tent.max_size   %></td>
    <td><%= tent.hpb        %></td>
    <td><%= tent.hpf        %></td>
    <td><%= link_to 'Show', admin_tent_path(tent) %></td>
    <td><%= link_to 'Edit', edit_admin_tent_path(tent) %></td>
    <td><%= link_to 'Destroy', admin_tent_path(tent), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr><% end %></tbody>
</table><% end %>
<br><%= link_to 'New Tent', action: "new" %>
