<p id="notice"><%= notice %></p>
<p><strong>Namesize:</strong><%= @tent.namesize %></p>
<p><strong>Description:</strong><%= @tent.description %></p>
<p><strong>Icon:</strong><%= @tent.icon %></p>
<p><strong>Min size:</strong><%= @tent.min_size %></p>
<p><strong>Max size:</strong><%= @tent.max_size %></p>
<p><strong>Hpb:</strong><%= @tent.hpb %></p>
<p><strong>Hpf:</strong><%= @tent.hpf %></p>
<%= link_to 'Edit', action: "edit"  %> | 
<%= link_to 'Back', action: "index" %>
