<!DOCTYPE html>
<html>
	<head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
	<body>
	  	На Вашем сайте White Park, хотят оставить новый отзыв.
  		<hr>
		<p><%= @n_n_p_o.author %> который был у нас <%= @n_n_p_o.visit %>, думает о нас так:
		<br><blockquote><%= @n_n_p_o.words %></blockquote>
		<p>Вы можете попытаться позвонить ему на телефон <%= @n_n_p_o.phone %>, или отравить письмо на почту <%= @n_n_p_o.email %></p>
		<p><a href="<%= @url %>">Чтобы промодерировать этот и другие отзывы, кликните здесь</a></p>
	</body>
</html>