<%= link_to 'Back', action: "index" , controller: "slayders" %>
<%= form_with(model: [:admin, photo_in_slayder], local: true) do |form| %>
	<% if photo_in_slayder.errors.any? %><div id="error_explanation">
		<h2><%= pluralize(photo_in_slayder.errors.count, "error") %> prohibited this photo_in_slayder from being saved:</h2>
    	<ul><% photo_in_slayder.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
		<% end %></ul>
	</div><% end %>
	<div class="actions"><%= form.submit %></div>
	<div class="field">
		<span>Текст, который выводится в <%= link_to "кухне", :controller => "/guest_pages", :action => "kitchen" %>, но необходим всегда.</span>
		<%= form.label :description %>
		<%= form.text_area :description, style:'placeholder: "поле должно быть пустым, если галочки нет, и непустым, если галочка есть"'%>
	</div>
    <div class="field"><% @photo_list.each do |one_photo| %>
	    <%= image_tag Photo.try_get_way_to_img_tag_by_photo(one_photo), width: "100px" %>
	    <%= form.radio_button(:photo, one_photo.id) %>
	    <%= form.label(:photo, one_photo.description) %><br>
	<% end %></div>
<% end %>
