<p id="notice"><%= notice %></p>
<table>
	<head><tr><% @list_of_slayders.each do |one_slayder| %>
		<td><%= one_slayder.title %></td>
	<% end %></tr></head>
<<<<<<< HEAD
	<body><tr><% @list_of_slayders.each do |one_slayder| %><td>
		<% PhotoInSlayder.where(slyder: one_slayder.id).each do |one_phis| %>
			<% photo = Photo.find_by(id: one_phis.photo) %>
			<% if photo.nil? %><%= $INE.html_safe %>
			<% else %><%=image_tag( photo.avatar.url, style:"width: 100px;")%>
			<% end %>
=======
	<body><tr><% @list_of_slayders.each do |one_slayder| %>
		<td>
			<% PhotoInSlayder.where(slyder: one_slayder.id).each do |one_phis| %>
			<% way = Photo.try_get_way_to_img_tag_by_id(one_phis.photo) %>
			<% if way.nil? %><%= $INE.html_safe %>
			<% else %><%= image_tag(way, style: "width: 100px;") %>
			<% end  %>
>>>>>>> work_with_paper_clip
			<%= one_phis.description %>
			<%= link_to 'Show', admin_photo_in_slayder_path(one_phis) %>
			<%= link_to 'Edit', edit_admin_photo_in_slayder_path(one_phis) %>
			<%= link_to 'Destroy', admin_photo_in_slayder_path(one_phis), method: :delete, data: { confirm: 'Are you sure?' } %><br>
		</td>
	<% end %></tr></body>
</table>
<%= link_to 'New Photo In Slayder', action: "new" %>
