<p id="notice"><%= notice %></p>
<%= link_to 'New Photo In Slayder', action: "new" %>
<table>
	<head><tr><% @list_of_slayders.each do |one_slayder| %>
		<td><%= link_to one_slayder.title, controller: "guest_pages", action: Slayder.title_action_converter( one_slayder.title, true ) %></td>
	<% end %></tr></head>
	<body><tr><% @list_of_slayders.each do |one_slayder| %>
		<% PhotoInSlayder.where(slyder: one_slayder.id).each do |one_phis| %><td>
			<%= image_tag Photo.try_get_way_to_img_tag_by_id(one_phis.photo), width: "100px" %>
			<%= one_phis.description %>
			<%= link_to 'Show', admin_photo_in_slayder_path(one_phis) %>
			<%= link_to 'Edit', edit_admin_photo_in_slayder_path(one_phis) %>
			<%= link_to 'Destroy', admin_photo_in_slayder_path(one_phis), method: :delete, data: { confirm: 'Are you sure?' } %><br>
		</td><% end %>
	<% end %></tr></body>
</table>
