<p id="notice"><%= notice %></p>
<% sl_t = Slayder.find_by(id: @photo_in_slayder.slyder).title %>
<p><strong>Slayder place:</strong><%= link_to sl_t, controller: "/guest_pages", action: Slayder.title_action_converter( sl_t, true ) %> |
<%= link_to 'Edit again',	action: "edit"  %> |
<%= link_to  "Slayders",	action: "index" %></p>
<p><strong>Photo: </strong><%= image_tag Photo.try_get_way_to_img_tag_by_id(@photo_in_slayder.photo) %></p>