<div align = "center">
	<h2><%= @category_event.title %></h2>
	<p><%= @category_event.description.html_safe %></p>
</div>
<% if @old_list.any? %><div class="photoreports-block  big-block"><div class="block">
	<h2>События</h2>
	<hr class="spec-hr">
	<div class="about-us-image-set"><% @old_list.each do |state_id| %>
		<% state = Event.find_by(id: state_id) %>
		<% unless state.nil? %><a href="<%= state.eng_title %>" class = "album">
			<% temp_icon = Photo.find_by(id: state.icon) %>
    		<% if temp_icon.nil? %><%= $INE.html_safe %>
        	<% else %><div class="album-bg"><%= image_tag(temp_icon.avatar.url)%></div>
        	<% end %>
			<div class="album-title">
				<p><%= state.ru_title %></p>
				<h4>подробнее</h4>
			</div>
		</a><% end %>
	<% end %></div>
</div></div><% end %>