<div align = "center">
	<h2><%= @category_event.ru_title %></h2>
	<p><%= @category_event.description.html_safe %></p>
</div>
<%if @old_list.any? %><div class="photoreports-block big-block"><div class="block">
	<h2>События</h2>
	<hr  class = "spec-hr">
	<div class = "about-us-image-set"><% @old_list.each do |one_event_id| %>
		<% one_event = Event.find_by(id: one_event_id) %>
		<% unless one_event.nil? %><a href="/events/<%= one_event.eng_title %>" class = "album">
			<div class="album-bg"><%= image_tag Photo.try_get_way_to_img_tag_by_id(one_event.icon) %></div>
			<div class="album-title">
				<p><%= one_event.ru_title %></p>
				<h4>подробнее</h4>
			</div>
		</a><% end %>
	<% end %></div>
</div></div><% end %>