<p id="notice"><%= notice %></p>
<p><strong>Title:</strong><%= @category_event.ru_title %></p>
<p><strong>Description:</strong><%= @category_event.description.html_safe %></p>
<p><strong>Icon:</strong><%= @category_event.icon %></p>
<%= link_to 'Edit', action: "edit" %> |
<%= link_to 'Back', action: "index" %> |
<a href="//localhost:3000/category_events/<%= @category_event.id %><%= $WORD_TO_SEE %>">Beauty</a>

