<p id="notice"><%= notice %></p>
<p><strong>Title:</strong><%= @category_event.ru_title %></p>
<p><strong>Description:</strong><%= @category_event.description.html_safe %></p>
<p><strong>Icon:</strong><%=image_tag Photo.try_get_way_to_img_tag_by_id(@category_event.icon),height:"100px" %></p>
<%= link_to 'Edit', action: "edit" %> |
<%= link_to 'Back', action: "index" %> |
<a href="/category_events/<%= @category_event.eng_title %>">Beauty</a>

