<%= @text_about_account %>
<%= form_tag('#') %>
<div class="field">
    <%= label_tag(:new_email, "new email")%>
    <br><%= email_field_tag :new_email, "", autofocus: false, autocomplete: "off" %>
    <i></i>
</div>
<hr>
<div class="field">
    <%= label_tag(:new_pass, "new password")%>
    <br><%= password_field_tag :new_password, "", autofocus: false, autocomplete: "off" %>
    <i>minimum <%= Moderator.password_length.min %> chars</i>
</div>
<div class="actions"><%= submit_tag "сменить" %></div>