<p id="notice"><%= notice %></p>
<h1>Photo In Events</h1>
<%= link_to 'New Photo In Event', action: "new" %><br>
<% if @photo_in_events.first.nil? %>
  <i>эта таблица пустая</i>
<% else %><table class="sv_table">
  <thead><tr>
    <th>Photo</th>
    <th>Event</th>
    <th colspan="3"></th>
  </tr></thead>
  <tbody><% @photo_in_events.each do |photo_in_event| %><tr>
    <td><%= image_tag Photo.try_get_way_to_img_tag_by_id(photo_in_event.photo), width: "100px" %></td>
    <td>
      <% event = Event.find_by(id: photo_in_event.event) %>
      <% if event.nil? %><i>event not exist</i>
      <% else %><%= event.ru_title %>
      <% end  %>
    </td>
    <td><%= link_to 'Show', admin_photo_in_event_path(photo_in_event) %></td>
    <td><%= link_to 'Edit', edit_admin_photo_in_event_path(photo_in_event) %></td>
    <td><%= link_to 'Destroy', admin_photo_in_event_path(photo_in_event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr><%  end %></tbody>
</table><% end %>