<p id="notice"><%= notice %></p>
<p><strong>Photo:</strong><%= @photo_in_event.photo %></p>
<p><strong>Event:</strong><%= @photo_in_event.event %></p>
<%= link_to 'Edit', action: "edit" %> | 
<%= link_to 'Back', action: "index" %>
