<nav class="navbar-default navbar-static-side" role="navigation"><div class="sidebar-collapse"><ul class="nav metismenu" id="side-menu">
  <li class="<%= is_active_controller('tables') %>">
    <a href="#">
      <i class="fa fa-table"></i>
      <span class="nav-label" data-i18n="nav.tables">Таблицы</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse <%= is_active_controller('tables', 'in') %>">
        <li><%= link_to "мнения",       controller: "opinions", action: "index" %></li>
        <li><%= link_to "фотки",        controller: "photos",   action: "index" %></li>
        <li><%= link_to "пользователи", controller: "users",    action: "index" %></li>
        <li><%= link_to "слайдера",     controller: "slayders", action: "index" %></li>
        <li><%= link_to "события",      controller: "events",   action: "index" %></li>
        <li><%= link_to "статьи",       controller: "articles", action: "index" %></li>
        <li><%= link_to "категории событий", controller: "category_events", action: "index" %></li>
        <li><%= link_to "шатры",        controller: "tents",    action: "index" %></li>
    </ul>
  </li>
  <li class="<%= is_active_controller('dashboards') %>">
    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards', 'in') %>">
        <li class="<%= is_active_action('dashboard_white_park') %>"><%= link_to "Dashboard for White Park", controller: "dashboards", action: "dashboard_white_park" %></li>
        <li class="<%= is_active_action('dashboard_white_park') %>"><%= link_to "Change email or password", controller: "dashboards", action: "change_defence_info" %></li>
    </ul>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-sitemap"></i>
      <span class="nav-label" data-i18n="nav.menulevels">Menu Levels</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#">Third Level <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a href="#">Third Level Item</a></li>
                <li><a href="#">Third Level Item</a></li>
                <li><a href="#">Third Level Item</a></li>
            </ul>
        </li>
        <li><a href="#">Second Level Item</a></li>
        <li><a href="#">Second Level Item</a></li>
        <li><a href="#">Second Level Item</a></li>
    </ul>
  </li>
</ul></div></nav>
